.intro
	.container
		%h2.title Welcome to my blog!
		%p.tagline This blog features articles about inbound marketing, search engine optimization, website performance and website accessibility.
#posts
	.container	
		%ul.large-block-grid-3
			%li.post
				%h2.post-title 
					%a{} 7 Best practices for awesome meta titles
				= image_tag 'http://static.wesleysmits.com/img/html-title-tag.jpg', :title => 'test', :alt => 'test'
				%p.post-excerpt
					What is a title tag? The title tag is the main description of an online document. It is a very important on-page element for SEO. It is very simple to add to any html document by specifying the title element within the section. Example ...
					= link_to 'Read more...', articles_path
			%li.post
				%h2.post-title 
					%a{} 7 Best practices for awesome meta titles
				= image_tag 'http://static.wesleysmits.com/img/html-title-tag.jpg', :title => 'test', :alt => 'test'
				%p.post-excerpt
					What is a title tag? The title tag is the main description of an online document. It is a very important on-page element for SEO. It is very simple to add to any html document by specifying the title element within the section. Example ...
					= link_to 'Read more...', articles_path
			%li.post
				%h2.post-title 
					%a{} 7 Best practices for awesome meta titles
				= image_tag 'http://static.wesleysmits.com/img/html-title-tag.jpg', :title => 'test', :alt => 'test'
				%p.post-excerpt
					What is a title tag? The title tag is the main description of an online document. It is a very important on-page element for SEO. It is very simple to add to any html document by specifying the title element within the section. Example ...
					= link_to 'Read more...', articles_path
			%li.post
				%h2.post-title 
					%a{} 7 Best practices for awesome meta titles
				= image_tag 'http://static.wesleysmits.com/img/html-title-tag.jpg', :title => 'test', :alt => 'test'
				%p.post-excerpt
					What is a title tag? The title tag is the main description of an online document. It is a very important on-page element for SEO. It is very simple to add to any html document by specifying the title element within the section. Example ...
					= link_to 'Read more...', articles_path
			%li.post
				%h2.post-title 
					%a{} 7 Best practices for awesome meta titles
				= image_tag 'http://static.wesleysmits.com/img/html-title-tag.jpg', :title => 'test', :alt => 'test'
				%p.post-excerpt
					What is a title tag? The title tag is the main description of an online document. It is a very important on-page element for SEO. It is very simple to add to any html document by specifying the title element within the section. Example ...
					= link_to 'Read more...', articles_path
			%li.post
				%h2.post-title 
					%a{} 7 Best practices for awesome meta titles
				= image_tag 'http://static.wesleysmits.com/img/html-title-tag.jpg', :title => 'test', :alt => 'test'
				%p.post-excerpt
					What is a title tag? The title tag is the main description of an online document. It is a very important on-page element for SEO. It is very simple to add to any html document by specifying the title element within the section. Example ...
					= link_to 'Read more...', articles_path
			
