.intro
	.container
		%h2.title Welcome to my blog!
		%p.tagline This blog features articles about inbound marketing, search engine optimization, website performance and website accessibility.
#posts
	.container	
		%ul.large-block-grid-3
			- @articles.each do |article|
				%li.post
					%h2.post-title
						= link_to article.title, article_path(article)
					- if article.image.exists? then
						= image_tag article.image.url(:medium), :title => article.title
					%p.post-excerpt
						= article.body.gsub(/[^0-9a-z ?.,:"']/i, '').truncate(250)
						= link_to 'Read more', article_path(article)
					.post-meta
						.left
							%i.fa.fa-calendar
							%span.time= distance_of_time_in_words_to_now(article.created_at) + ' Ago'
						.right
							%i.fa.fa-comments-o
							%span.comments 2 comments

