#post
	.container
		%h1.title
			= @article.title
		//- if @article.image.exists? then
		//	= image_tag @article.image.url
		%p.body
			= markdown @article.body
		%br
		= link_to 'Back to overview page', articles_path, :class => "button [radius round]"
		= link_to 'Edit article', edit_article_path(@article), :class => "button [radius secondary round]"
		= link_to 'Delete article', article_path(@article), :class => "button [radius alert round]", :method => :delete, data: { confirm: "Are you sure you want to delete this article?"}
