%header#header.row
	.container
		%h1#logo.small-10.small-offset-1.large-4.large-offset-0.columns
			- if current_page?('/') 
				= link_to 'Wesley Smits', '#intro', :title => "Wesley Smits"
			- else
				= link_to 'Wesley Smits', root_url, :title => "Wesley Smits"
		%nav{:role => 'navigation', :id => 'primary-navigation', :class => 'small-10 small-offset-1 large-6 large-offset-0 columns'}
			%ul
				- if current_page?('/')
					%li= link_to 'About me', '#about-me', title: "About Wesley Smits"
					%li= link_to 'Portfolio', '#portfolio', title: "My portfolio"
					%li= link_to 'Blog', '/articles', title: "My blog"
					%li= link_to 'R&eacute;sum&eacute;'.html_safe, '/resume', title: "My r&eacute;sum&eacute;".html_safe
					%li= link_to 'Contact', '#contact', title: "Contact me"
				- else
					%li= link_to 'About me', '/about-me', title: "About Wesley Smits"
					%li= link_to 'Portfolio', '/portfolio', title: "My portfolio"
					%li= link_to 'Blog', '/articles', title: "My blog"
					%li= link_to 'R&eacute;sum&eacute;'.html_safe, '/resume', title: "My r&eacute;sum&eacute;".html_safe
					%li= link_to 'Contact', '/#contact', title: "Contact me"