%aside#sidebar.small-10.small-offset-1.large-4.large-offset-0.columns
	.widget.recent-posts
		%h3.widget-title Recent Posts
		.widget-content
			%ul
				- @articles.each do |article|
					%li
						= link_to article.title, article_path(article), :class => 'item-title'
						.itemContent
							%p
								= article.body.gsub(/[^0-9a-z ?.,:"']/i, '').truncate(80)
								= link_to 'Read more', article_path(article)

	.widget.social#share
		%h3.widget-title Social
		.widget-content
			%ul.img
				%li.google= image_tag 'plus-button.png', :alt => 'Google+ +1 button', :title => '+1 this page!', :width => '36', :height => '22'
				%li.facebook= image_tag 'like-button.png', :alt => 'Facebook like button', :title => 'Like this page!', :width => '78', :height => '20'
				%li.twitter 
					%a.twitter-share-button{:data => { :via => "WesleySmits93", :count => "none" }, :href => "https://twitter.com/share"} Tweet

	%a.twitter-timeline{:href => 'https://twitter.com/WesleySmits93', :data => {'widget-id' => '432152717226561536'}} Tweets van @WesleySmits93

	.widget.google-widget
		%h3.widget-title Follow me on Google+!
		.widget-content
			.g-person{"data-href" => "//plus.google.com/114334906202592742096", "data-rel" => "author"}
	.widget.google-widget
		%h3.widget-title Join my Community!
		.widget-content
			.g-community{"data-href" => "https://plus.google.com/communities/116489071632785811415"}