%section#intro.block{:role => 'banner'}
	.container
		.welcome
			%h1.intro-title I love web development
			%p.intro-caption 	Hi, my name is Wesley Smits! I am from a small town in The Netherlands and i have a passion for creating awesome websites using responsive webdesign and progressive enhancement best practices.

%section#about-me.block
	.container
		%h2.title About me
		.row
			%section{:class => 'small-10 small-offset-1 large-6 large-offset-0 columns'}
				%h3 Who am I?
				%p I was born on the 5th of September 1993 in Dordrecht. Moved to Papendrecht a couple of years later and i've lived there ever since. Spent most of my days gaming and my dream was to eventually become a game developer.

				%p When I got in contact with webdevelopment and SEO at the age of 15 I decided to go into webdevelopment. After finishing highschool I signed up for a 'Mediatechnology', a study at The University of Rotterdam.
			%section{:class => 'small-10 small-offset-1 large-6 large-offset-0 columns'}
				%h3 What do I do?
				%p
					I'm a frontend webdeveloper and 
					%abbr{:title => 'Search Engine Optimizer'} SEO
					, This means i am able to build websites using HTML5, CSS3 and Javascript.
					I also know a thing or two about backend development and I have experience with PHP, MySQL and Rails.
				%p
					Besides building a website using development best practices I'm also able to optimize a site both on-page and off-page so that it has a good potential to rank in the search engines. Only white-hat Google preferred tactics of course.
			%section{:class => 'small-10 small-offset-1 large-12 large-offset-0 columns'}
				%h3{:class => 'small-3 small-centered columns'} My skillset
				%ul{:class => 'medium-block-grid-3 large-block-grid-5 skillset'}
					%li
						%h4 HTML5
						= image_tag 'html5_logo.png', :alt => "HTML5 logo", :title => "HTML5"
					%li
						%h4 CSS3
						= image_tag 'css3_logo.png', :alt => "CSS3 logo", :title => "CSS3"
					%li
						%h4 Javascript
						= image_tag 'javascript_logo.png', :alt => "Javascript logo", :title => "Javascript"
					%li
						%h4
							%abbr{:title => 'Search Engine Optimization'} SEO
						= image_tag 'seo_logo.png', :alt => "SEO logo", :title => "Search Engine Optimization"
					%li.last
						%h4
							%abbr{:title => 'Responsive Web Design'} RWD
						= image_tag 'rwd_logo.png', :alt => "RWD logo", :title => "Responsive Web Design"

%section#portfolio.block
	.container
		%h2.title Portfolio
		%section.project
			.left
				%h3 Butzi - Q&A Community
				%p.description 
					For a vintage restorations centre in Rotterdam, called 
					%a{:href => 'http://www.mobielerfgoedcentrum.nl/'}
						%abbr{:title => 'Mobiel erfgoed centrum'} MEC
						(Mobile Heritage Centre)
					, my team and I created a Q&A community for people that own or have interest in a vintage car. In the community they can ask and answer questions, plus find local support or carparts to buy. I was responsible for the front-end, search engine optimization and pagespeed.
			.right
				.project-slider	
					= image_tag "http://www.magcaa.com/includes/img/placeholder/Butzi/4.jpg", :class => 'project-img', :width => '644'
					= image_tag "http://www.magcaa.com/includes/img/placeholder/Butzi/0.jpg", :class => 'project-img', :width => '644'
				%a.previous
				%a.next
			.buttons
				= link_to 'X', '#', :class => 'close', :title => 'Close project window'

		%ul{:class => 'small-block-grid-2 medium-block-grid-3 large-block-grid-4'}
			- @projects.each do |project|
				%li{:class => "project-thumb #{project.name}", :alt => "#{project.name} logo", :title => "#{project.name}"}
					= image_tag project.image



%section#contact.block
	.container
		%h2.title Contact Me
		.row
			%section.social.small-10.small-offset-1.large-5
				%h3 Social Media Profiles
				%ul
					%li.google
						%a{:href => 'https://www.google.com/+WesleySmits', :title => 'Wesley Smits on Google+', :target => '_blank'}
							%i.fa.fa-google-plus
					%li.facebook
						%a{:href => 'https://www.facebook.com/wesley.robert.smits', :title => 'Wesley Smits on Facebook', :target => '_blank'}
							%i.fa.fa-facebook
					%li.twitter
						%a{:href => 'https://twitter.com/WesleySmits93', :title => 'Wesley Smits on Twitter', :target => '_blank'}
							%i.fa.fa-twitter
					%li.linkedin
						%a{:href => 'https://www.linkedin.com/in/wesleysmits93', :title => 'Wesley Smits on LinkedIn', :target => '_blank'}
							%i.fa.fa-linkedin

				%h3 Contact me here..
				%ul.contact-details
					%li.other
						%a{:href => 'mailto:info@wesleysmits.com', :title => 'Send an e-mail to Wesley Smits', :target => '_blank'}
							%i.fa.fa-envelope
					%li.other
						%a{:href => 'https://github.com/WesleySmits/', :title => 'Wesley Smits on Github', :target => '_blank'}
							%i.fa.fa-github
					%li.other
						%a{:href => 'skype:facebook:wesley.robert.smits', :title => 'Wesley Smits on Skype', :target => '_blank'}
							%i.fa.fa-skype
					%li.other
						%a{:href => 'https://www.youtube.com/user/WesleyRobertSmits', :title => 'Wesley Smits on Youtube', :target => '_blank'}
							%i.fa.fa-youtube

		%section.contact-form