= form_for(@project, :html => { :multipart => true }) do |f|
  %ul
    - @project.errors.full_messages.each do |error|
      %li= error
  .row
    .small-1.columns    
      = f.label :name, :class => "left inline"
    .small-11.columns
      = f.text_field :name
  .row
    .small-1.columns
      = f.label :description, :class => "left inline"
    .small-11.columns 
      = f.text_area :description
  .row
    .small-1.columns
      = f.label :image, :class => "left inline"
    .small-11.columns
      = f.file_field :image
  .row
    .small-9.small-offset-1.columns
      = f.submit nil ,:class => "button [radius round]"

%script#template-upload{type: "text/x-tmpl"}
  :cdata
    <div class="upload">{%=o.name%}<div class="progress"><div class="progress-bar bar" style="width: 0%"></div></div></div>