%h1.name
	= @project.name
%p.description
	= @project.description
- @project.assets.each do |image|
	= image_tag image.image_file_name, :width => '200'
%br
= link_to 'Back to overview page', projects_path, :class => "button [radius round]"
= link_to 'Edit project', edit_project_path(@project), :class => "button [radius secondary round]"
= link_to 'Delete project', project_path(@project), :class => "button [radius alert round]", :method => :delete, data: { confirm: "Are you sure you want to delete this project?"}
